@{
    ViewBag.Title = "Kontakt do programisty";
}
<h2>Adam Ptaszek</h2>
<h3>Łódź</h3>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:Support@example.com">adam.ptaszek24@gmail.com</a><br />
</address>